<%= erb :header, :locals => {:shop => shop}%>
<div class="generator">   
      <textarea placeholder="Grußtext hier eingeben" class="input" name="textarea" style="width:250px;height:150px;"></textarea>
      <button class="button">Text generieren</button>
      <canvas style="clear:both; display: none" id="c"></canvas>
</div>


<script type=text/javascript>
$(".button").click(function(){
  $("#c").show()
  var canvas = new fabric.Canvas('c');
  canvas.setHeight(601);
  canvas.setWidth(800);
  canvas.setBackgroundImage("weihnachten-karte.jpg");
  var text = new fabric.Text($(".input").val(), { left: 100, top: 100 });
  canvas.add(text);
  $(".12").click(function(){
    canvas.isDrawingMode = false;
    window.open(canvas.toDataURL('png'));
  });
});
 
</script>