<html>
  <head>
      <script type="text/javascript">
        window.ayAsyncInit = function() {
          // do stuff here with AY object
        };
      </script>              
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="http://fabricjs.com/build/files/text,cufon,parser,interaction.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <%=shop.javaScriptTag%>
      <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

<div class="header_wrapper">
  <ul class="header_list">
    <li class="header_list_element"> <a href="/">Home</a></li>
    <li class="header_list_element"> <a href="/productsResult">Artikel schenken</a></li>
    <li class="header_list_element"> <a href="/gutschein_verschenken">Gutschein schenken</a></li>
    <li class="header_list_element"> <a href="/grußkarte">Grußkarte senden</a></li>    
  </ul>
</div>