<%= erb :header, :locals => {:shop => shop}%>
    <div class="content">
      <div class="landing-page">
        <div class="landing-page--content">
          <a class="landing-page--logo">ABOUT PRESENTS</a>
          <a class="landing-page--button" href="/productsResult">Artikel schenken</a>
          <a class="landing-page--button" href="/gutschein_verschenken">Gutschein schenken</a>
          <a class="landing-page--button" href="/grußkarte">Grußkarte senden</a>
        </div>
      </div>
    </div>
  </body>
</html>
