<%= erb :header, :locals => {:shop => shop}%>
    <div class="content">
      <div class="landing-page">
        <div class="landing-page--content">
          <a class="landing-page--logo">ABOUT PRESENTS</a>
        </div>
      </div>
    </div>
  </body>
</html>
