<%= erb :header, :locals => {:shop => shop}%>
    <div class="content">
      <div class="intro">
        <p>Willkommen bei About Presents! Hier bei uns hast du die Möglichkeit, deinen Liebsten zu besonderen Anlässen ein tolles Geschenk zu machen! lalala</p>
      </div>
    </div>
  </body>
</html>
