<nav class="navigation">
  <a class="navigation--item" href="/">Start</a>
  <a class="navigation--item" href="/productsResult">Artikel schenken</a>
  <a class="navigation--item" href="/gutschein_verschenken">Gutschein schenken</a>
  <a class="navigation--item" href="/grußkarte">Grußkarte senden</a>
</nav>
